<h1>Edit Task</h1>
<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <label> <%= f.check_box :completed %> Completed </label>
  <%= f.submit %>
<% end %>
